{
  "root": true,
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "babel",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.base.config.js"
      }
    }
  },
  "extends": ["airbnb-base", "eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "object-curly-spacing": ["error", "always"],
    "react/forbid-prop-types": ["error", { "forbid": ["object", "any"] }],
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "semi": 0,
    "indent": ["error", "tab"],
    "no-console": 0,
    "no-unused-vars": ["warn"],
    "import/prefer-default-export": 0,
    "jsx-quotes": ["warn", "prefer-double"],
    "no-multi-spaces": ["warn"]
  }
}
